.game-content {
  display: flex;
  flex-direction: row;
}
.game-content-category {
  background-color: #dddddd;
  margin: 5px 3px;
}
.game-content-question {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 25px;
  padding: 2px 8px;
}
.game-content-answers {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 25px;
}
button {
  margin-top: 3px;
}
.wrong {
  border: 3px solid red
}
.correct {
  border: 3px solid rgb(6, 240, 15);
}
.wrong:hover {
  border: 3px solid rgb(255, 0, 0);
}
.correct:hover {
  border: 3px solid rgb(6, 240, 15);
}
.wrong:focus {
  border: 3px solid rgb(255, 0, 0);
}
.correct:focus {
  border: 3px solid rgb(6, 240, 15);
}
